<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/style.css">
    <link rel="stylesheet" href="/media/syntax.css">
  </head>
  <body>
    <header>
      <h1>Webeng-combine</h1>
    </header>
    {{ content }}
    <section class="footer">
      <div class="contact">
        <p>
          WebEng Combine 2014
        </p>
      </div>
      <div class="contact">
        <p>
          Powered by Davis-CI
        </p>
      </div>
      <div class="contact">
        <p>
          With thanks to DE, KJ, and xor
        </p>
      </div>
    </section>
  </body>
</html>
