<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/style.css">
    <link rel="stylesheet" href="/media/syntax.css">
  </head>
  <body>
    {{ content }}
    <section class="footer">
      <div class="contact">
        <p>
          WebEng Combine 2014
          <br />
          Powered by Davis-CI
          <br />
          In turn powered by Doozer
        </p>
      </div>
    </section>
  </body>
</html>
